/* =============
    Footer
============= */
@import "../helpers/variables";

footer {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  a {
    color: $black;
  }

  > div {
    width: 90%;
    margin: 0 auto;
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    #logo {
      grid-column: 1 / span 2;
      display: flex;
      align-items: center;

      img {
        display: block;
        width: 175px;
        cursor: pointer;
      }
    }

    // #links {
    //   display: grid;
    //   grid-template-columns: repeat(4, 1fr);
    //   grid-gap: 3rem;
    //   margin: 2rem 0;

    ul {
      margin: 1rem 0;
    }

    li {
      margin: 0.2rem 0;
    }

    #company {
      grid-column: 5;
      margin: 2rem 1rem;
    }

    #support {
      margin: 2rem 1rem;
    }

    #terms-of-use {
      margin: 2rem 1rem;

      ul {
        margin: 2rem 0;
      }
    }

    #social {
      margin: 2rem 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;

      i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 2px $duck solid;
        border-radius: 50%;
        text-align: center;
        font-size: 0.75rem;

        &:hover {
          color: $blue;
        }
      }
      //   }
    }
  }
}

// Small tablets
@media (max-width: $screen-md-min) {
  footer {
    > div {
      grid-template-columns: repeat(7, 1fr);

      #logo {
        justify-content: center;
      }

      #social {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
}

/* Small tablets and large smartphones */
@media (max-width: $screen-sm-min) {
  footer {
    > div {
      width: 100%;
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "logo company"
        "terms-of-use support"
        "social support";
      grid-gap: 1.75rem;
      justify-content: space-between;

      #logo {
        grid-area: logo;

        img {
          width: 150px;
        }
      }

      //   #links {
      #company {
        grid-area: company;
        margin: 0;
        margin-top: 2rem;
      }

      #support {
        grid-area: support;
        margin: 0;
      }

      #terms-of-use {
        grid-area: terms-of-use;
        margin: 0;
        padding-right: 30%;
        text-align: right;

        ul {
          margin: 0;
        }
      }

      #social {
        grid-area: social;
        padding-left: 10%;
        margin: 0;
        grid-template-columns: repeat(4, 1fr);

        i {
          width: 20px;
          height: 20px;
          line-height: 20px;
          font-size: 0.5rem;
        }
      }
    }
  }
}
